.float1{
    float: left;
    height: 200px;
    width: 200px;
    background-color: red;
}
.clear{
    clear: both;
}
.float2{
    height: 100px;
    width: 100px;
    background-color: aqua;
}